<div class="container">
    <div class="row">
        <!-- About me -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="/avater.jpg" alt="profile picture" width="256" height="256" class="rounded-circle">
                <p>Xin chào! Tôi là [Tên của bạn], hiện đang là sinh viên năm cuối chuyên ngành Kỹ thuật Phần mềm (Software Engineering). Tôi có niềm đam mê với lập trình và phát triển phần mềm, đặc biệt là trong hệ sinh thái .NET. Trong quá trình học tập, tôi đã tích lũy được nhiều kiến thức và kỹ năng về lập trình C#, ASP.NET, cũng như các công nghệ liên quan như Entity Framework và SQL Server.
                    Tôi đã tham gia vào nhiều dự án thực tế, giúp tôi rèn luyện khả năng làm việc nhóm, quản lý thời gian và giải quyết vấn đề. Với sự hiểu biết vững chắc về quy trình phát triển phần mềm và tâm huyết với ngành công nghiệp công nghệ, tôi rất mong muốn được đóng góp vào các dự án thú vị và phát triển sự nghiệp trong lĩnh vực này.</p>
                
                </div>
        </div>
        <!-- Featured Project -->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
            </div>
        </div>
    </div>
</div>
